doctype html

mixin cesium
    section#cesium-container


mixin comment
    .comment.hide
        .comment-image-container
            img.comment-icon
        .comment-detail-container
            p.comment-title
            p.comment-message

mixin comments
    section#comments
        header#comments-header
        #comments-inner
            #comments-content
        +comment

mixin splash
    #splash
        img.logo(src='/images/logo-splash.png')

mixin popup
    #popup.hide
        #popup-inner
            header#popup-header
                h1#popup-title Debri
                span#popup-title-sub
                    span.norad-id-caption NORAD ID :
                    span.norad-id 不明
                img.popup-close-button(src='/images/cancel-button.png')
            section#popup-content
                section#popup-left-container
                    img.popup-image
                section#popup-right-container
                    #popup-details-container
                        section
                            h3 国籍
                            p.country 不明
                        section
                            h3 誕生日
                            p.birthday 不明
                        section
                            h3 体重
                            p.weight 不明
                    #popup-message-container
                        h3 メッセージ
                        p.message 不明
            section#popup-gallery

mixin favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/icons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/icons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/icons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/icons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/icons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/icons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/icons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/icons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/icons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/icons/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/icons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/icons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/icons/favicon-16x16.png')
    meta(name='msapplication-TileColor', content='#24304E')
    meta(name='msapplication-TileImage', content='/icons/ms-icon-144x144.png')
    meta(name='theme-color', content='#24304E')


html(lang='ja')
    head
        block meta
            meta(charset='utf-8')
            meta(http-equiv='x-ua-compatible', content='ie=edge')
            title Chatellite
            meta(name='description', content='the orbits of the satellites and the 'tweets' of satellites that are assigned different personalities.')
            meta(name='viewport', content='width=device-width, initial-scale=1')
        block stylesheet
            +favicons
            link(rel='stylesheet', href='http://cesiumjs.org/Cesium/Build/Cesium/Widgets/widgets.css')
            link(rel='stylesheet', href='/main.css')
    body
        +cesium
        +comments
        +popup
        +splash
        #app-logo
            img(src='/images/logo-app.png')

    block script
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.min.js')
        script(src='https://cesiumjs.org/Cesium/Build/Cesium/Cesium.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
        script(src='/scripts/development/main.js')
