doctype html

html(lang='ja')
    head
        block meta
            meta(charset='utf-8')
            title JinrohsFE
            meta(http-equiv='x-ua-compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
        block stylesheet
            link(rel='shortcut icon', href='/favicon.ico')
            link(rel='stylesheet', href='http://cesiumjs.org/Cesium/Build/Cesium/Widgets/widgets.css')
            link(rel='stylesheet', href='/main.css')
    body
        #cesiumContainer

        #splash
            img.logo(src='/images/logo.png')

        #popup.hide
            #popup-container
                header#popup-header
                    h1#popup-title ひので
                    span#popup-title-sub
                        span NORAD ID:
                        span.norad-id aaaa
                section#popup-content
                    section.popup-component
                        section
                            img.popup-image
                    section.popup-component
                        section
                            h3 国籍
                            p.coutry aaa
                        section
                            h3 誕生日
                            p.birthday 2016/04/23
                        section
                            h3 体重
                            p.weight 900Kg


    block script
        script(src='https://cesiumjs.org/Cesium/Build/Cesium/Cesium.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
        script(src='/scripts/development/main.js')
