doctype html

html(lang='ja')
    head
        block meta
            meta(charset='utf-8')
            title JinrohsFE
            meta(http-equiv='x-ua-compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
        block stylesheet
            link(rel='shortcut icon', href='/favicon.ico')
    body
        p hello world!

    block script
        script(src='/scripts/development/main.js')
