doctype html

mixin cesium
    section#cesium-container


mixin comment
    .comment.hide
        .comment-image-container
            img.comment-icon
        .comment-detail-container
            p.comment-title
            p.comment-message

mixin comments
    section#comments
        header#comments-header
        #comments-inner
            #comments-content
        +comment

mixin splash
    #splash
        img.logo(src='/images/logo-fix.png')

mixin popup
    #popup.hide
        #popup-inner
            header#popup-header
                h1#popup-title
                span#popup-title-sub
                    span.norad-id-caption NORAD ID :
                    span.norad-id
                img(src='/images/cancel-button.png')
            section#popup-content
                section.popup-component
                    section
                        img.popup-image
                section.popup-component
                    section
                        h3 国籍
                        p.country
                    section
                        h3 誕生日
                        p.birthday
                    section
                        h3 体重
                        p.weight
                    section
                        h3 メッセージ
                        p.message

html(lang='ja')
    head
        block meta
            meta(charset='utf-8')
            title JinrohsFE
            meta(http-equiv='x-ua-compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
        block stylesheet
            link(rel='shortcut icon', href='/favicon.ico')
            link(rel='stylesheet', href='http://cesiumjs.org/Cesium/Build/Cesium/Widgets/widgets.css')
            link(rel='stylesheet', href='/main.css')
    body
        +cesium
        +comments
        +popup
        +splash
        #app-logo
            img(src='/images/logo-app.png')

    block script
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.min.js')
        script(src='https://cesiumjs.org/Cesium/Build/Cesium/Cesium.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
        script(src='/scripts/development/main.js')
