doctype html

html(lang='ja')
    head
        block meta
            meta(charset='utf-8')
            title JinrohsFE
            meta(http-equiv='x-ua-compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
        block stylesheet
            link(rel='shortcut icon', href='/favicon.ico')
    body
        #cesiumContainer

    block script
        script(src='https://cesiumjs.org/Cesium/Build/Cesium/Cesium.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
        script(src='/scripts/development/main.js')
