/*
  DEFAULTS
*/
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

body {
    position: relative;
    /*display: flex;*/
}

p, h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
}

.hide {
    display: none !important;
}

/*
  CESIUM
*/
#cesium-container {
    margin: 0;
    padding: 0;
    /*width: 70%;*/
    height: 100%;
}

#cesium-container .cesium-viewer {
    width: 100%;
    height: 100%;
    margin: 0;
}

#cesium-container .cesium-viewer .cesium-widget-credits {
    display: none;
}

/*
  COMMENTS
*/
#comments {
    position: fixed;
    right: 8px;
    top: 55px;
    width: 300px;
}

#comments-inner {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
}

#comments .comment {
    position: absolute;
    top: 40px;
    background-color: rgba(59, 75, 82, 0.6);
    width: 100%;
    height: 86px;
    margin-bottom: 8px;
    color: rgba(159, 175, 182, 1);
    font-size: 12px;
    display: flex;
    border-radius: 2px;
    transition: top 0.6s ease;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

#comments .comment .comment-image-container {
    padding: 10px 8px;
}

#comments .comment .comment-image-container .comment-icon {
    width: 50px;
}

#comments .comment .comment-detail-container {
    flex: 1;
    padding: 8px 15px;
    border-left: 1px solid rgba(159, 175, 182, 0.15)
}

#comments .comment .comment-title {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    color: rgba(189, 205, 212, 1);
}

#comments .comment .comment-message {
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

/*
  POPUP
*/
#popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
}

#popup-inner {
    background-color: rgba(59, 75, 82, 0.9);
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 25px 25px;
    max-width: 700px;
    margin: 0 auto;
    overflow-y: auto;
}

#popup-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 25px;
}

#popup-header #popup-title {
    display: inline-block;
    margin-bottom: 15px;
}

#popup-header .norad-id-caption {
    padding-right: .5em;
}

#popup-header img {
    width: 30px;
    opacity: 0.4;
    float: right;
    margin-top: 8px;
    transition: opacity 0.2s ease;
}

#popup-header img:hover {
    opacity: 1;
}

#popup-header #popup-title-sub {
    margin-left: 1em;
    color: rgba(255, 255, 255, 0.5);
}

#popup-content {
    display: flex;
}

#popup-left-container {
    flex: 0.5;
    margin-right: 25px;
}

#popup-right-container {
    flex: 1;
}

#popup-details-container {
    display: flex;
}

#popup-details-container section {
    flex: 1;
}

#popup-content .popup-component:first-child {
    margin-right: 25px;
}

#popup-content .popup-image {
    width: 100%;
    height: auto;
    padding: 20px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

#popup-content p {
    font-size: 14px;
    margin-bottom: 0;
}

#popup-content h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

#popup-content section {
    margin-bottom: 20px;
}

#popup-gallery {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 200px;
    width: 100%;
    line-height: normal;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 3px;
}

#popup-gallery .popup-gallery-image {
    height: 100%;
    width: auto;
    clear: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius:  3px;
    margin: 0 8px 0 0;
    padding: 15px;
    /*display: inline-block;*/
}

/*
  SPLASH
*/
#splash {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

#splash .logo {
    opacity: 0;
    width: 45%;
    max-width: 400px;
    height: auto;
    margin-top: 260px;
    margin-left: -15px;
}

/*
  APP LOGO
*/
#app-logo {
    position: absolute;
    left: 8px;
    top: 15px;
}

#app-logo img {
    width: 140px;
}

/*
  OVERRIDE
*/
.cesium-timeline-bar {
    background: none !important;
}

.cesium-timeline-main {
    border: none !important;
    font-size: 9px !important;
    color: #555 !important;
}

.cesium-timeline-needle {
    background: none !important;
}

.cesium-button {
    border: none !important;
    background: none !important;
    border-radius: 0;
    width: 35px !important;
    height: 35px !important;
    box-shadow: none !important;
    margin: 0 10px 0 0 !important;
    padding: 0 !important;
}

.cesium-toolbar {
}
.cesium-toolbar-button {
    margin-right:  10px !important;
    z-index: 9999 !important;
}

.cesium-home-button {
    background: url('/images/icon-back.png') no-repeat !important;
    background-size: 100% !important;
    /*background-size: 10px;*/
    margin-top: 4px !important;
}
.cesium-home-button svg {
    display: none;
}

.cesium-button svg path {
    fill: #fff;
}
